// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);
}
// Заголовок спойлера
.spollers__title {
	position: relative;
	width: 100%;
	cursor: default;
	text-align: left;
	// border: 1px solid #eee;
	padding: rem(10) rem(15);
	border-radius: rem(5);
	list-style: none;
	background-color: rgba(255, 255, 255, 0.05);
	@include adaptiveValue("font-size", 24, 18);
	line-height: 177%;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: rem(10);
			top: 50%;
			background-color: $greenColor;
			height: rem(2);
			width: rem(8);
			transition: transform 0.5s ease 0s;
			border-radius: rem(2);
		}
		&::before {
			transform: translate(-50%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0%, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-55%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
	border-radius: rem(5);
	border: 1px solid #eee;
}
