//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	@include adaptiveValue("padding-top", 24, 14);
	@include adaptiveValue("padding-bottom", 22, 12);
	@include adaptiveValue("padding-left", 44, 18);
	@include adaptiveValue("padding-right", 44, 18);
	border-radius: rem(10);
	font-weight: 500;
	white-space: nowrap;
	line-height: math.div(20, 18);
	&_transparent {
		border: rem(1) solid #fff;
		@include adaptiveValue("padding-top", 20, 7);
		@include adaptiveValue("padding-bottom", 20, 7);
	}
	&_green {
		background-color: $greenColor;
	}
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&--fw {
		width: 100%;
	}
}
