//<FORM>
// Сниппет (HTML):
.form {
	@media (min-width: $mobileSmall) {
		display: flex;
	}

	@include adaptiveValue("width", 533, 290);
	align-items: center;
	position: relative;
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
		position: absolute;
		@media (max-width: $mobileSmall) {
			width: 96%;
			bottom: 3%;
			left: 50%;
			transform: translateX(-50%);
		}
		@media (min-width: $mobileSmall) {
			top: 50%;
			transform: translateY(-50%);
			right: 2%;
		}
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
@import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
// @import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";
