//<FORM>
// Сниппет (HTML):
.form {
	position: relative;
	display: flex;
	max-width: rem(533);
	padding: rem(6);
	border-radius: rem(10);
	background-color: #fff;
	gap: rem(5);
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
		flex: 1 1 auto;
		padding: rem(0) rem(20);
		color: $mainBgColor;
		font-weight: 500;
		&::placeholder {
			color: $mainBgColor;
		}
		&._form-error {
			color: red;
			&::placeholder {
				color: red;
			}
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	&._form-error {
		border: rem(1) solid red;
	}
	&__button {
		// position: absolute;
		// @media (max-width: $mobileSmall) {
		// 	width: 96%;
		// 	bottom: 3%;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
		// @media (min-width: $mobileSmall) {
		// 	top: 50%;
		// 	transform: translateY(-50%);
		// 	right: 2%;
		// }
	}
	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		color: red;
		font-size: rem(14);
	}
}
//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
@import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
// @import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";
