//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	// min-height: rem(76);
	// background-color: #fff;
	// color: #000;
	// border-radius: rem(10);
	// @include adaptiveValue("padding-left", 25, 20);
	// caret-color: #000;
	// @media (max-width: $mobileSmall) {
	// 	min-height: rem(130);
	// 	padding-bottom: rem(64);
	// padding-left: rem(0);
	// }
	&._form-focus {
		// border: rem(1) solid red;
	}
	&._form-error {
		color: red;
	}
	&[placeholder] {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
