// Заголовки, общие БЄМ блоки и проче...
.title {
	@include adaptiveValue("padding-right", 20, 0);
	@include adaptiveValue("margin-bottom", 48, 20);
	// .title__title
	&__title {
		max-width: rem(580);
		@include adaptiveValue("font-size", 70, 30);
		font-weight: 700;
		line-height: math.div(78, 70);
		// line-height: 180%;
		span {
			color: #23b123;
		}
		@include adaptiveValue("margin-bottom", 69, 30);
	}
	// .title__text
	&__text {
		max-width: rem(580);
		line-height: math.div(32.4, 18);
		// line-height: 177%;
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 48, 20);
			}
		}
	}
}
.logo {
	line-height: math.div(22, 18);
	// .logo__icon
	&__icon {
	}
	// .logo__name
	&__name {
	}
}
// .-green-hover
[class*="-green-hover"] {
	transition: color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: $greenColor;
		}
	}
}
.elipse {
	&_1,
	&_2 {
		position: absolute;
		@include adaptiveValue("width", 585, 340);
		@include adaptiveValue("height", 585, 340);
		pointer-events: none;
		&::before {
			content: "";
			animation: elipse 6s infinite linear;
			display: block;
			border: rem(1) solid #fff;
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}
	// .decor__element_elipse-1
	&_1 {
		&::before {
		}
	}
	// .decor__element_elipse-2
	&_2 {
		&::before {
		}
	}
	@keyframes elipse {
		0% {
		}
		45% {
			border-color: #fff;
		}
		50% {
			border-color: $greenColor;
		}
		100% {
			border-color: #fff;
		}
	}
}

//<GLOBAL Animations>=================================

//</GLOBAL Animations>=================================
