//<HEADER>=================================
.header {
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
	}
	// .header__container
	&__container-lage {
	}
	// .header__menu
	&__menu {
		@include adaptiveValue("min-height", 182, 50);
		display: flex;
		align-items: center;
	}
}
//</HEADER>=================================
