//<HEADER>=================================
.header {
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
		position: fixed;
		z-index: 3;
		width: 100%;
		top: 0;
		left: 0;
		padding: rem(0) rem(15);
		@include adaptiveValue("min-height", 182, 50);
		display: flex;
		align-items: center;
	}
}
//</HEADER>=================================
