// <IMPORT>=================================
@use "sass:math"; //модуль Math
// Подключение главного файла миксина в глобальную область видимости
//<MIXINS>=================================
@import "base/mixins";
//</MIXINS>=================================

// <ШРИФТ>=================================
//&display=swap - добавить при подключении через плагин
// @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap);
@import "fonts/fonts"; // Подключить если есть локальные файлы шрифтов
@import "fonts/icons"; // Подключить если есть файл иконочного шрифта
// </ШРИФТ></IMPORT>=================================

// <VARIABLES>=================================
$fontFamily: "LeagueSpartan";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainTextColor: #ffffff;
// $mainColor: #5e6282;
$greenColor: #23b123;
// $lightGrayColor: #9a9ea6;
// $lightBlueColor: #23a6f0;
// $darkBlueColor: #181e4b;
$hoverCololr: #4737ff;
$mainBgColor: #263238; //приглушить цвет для комфорта глаз

// Настройки адаптивной сетки
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1620; // Ширина ограничивающего контейнера (0 = нет ограничения)
// $maxWidthContainer: 1390;  // Ширина ограничивающего контейнера (0 = нет ограничения)
// Общий отступ у контейнера
$containerPadding: 30; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 15; // минимальный отступ
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobileBig: em(767.98); // Телефоны L
$mobile: em(639.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// </VARIABLES>=================================

// <ОБНУЛЕНИЕ>=================================
@import "base/null";
// </ОБНУЛЕНИЕ>=================================

// <BODY>=================================
body {
	font-family: $fontFamily;
	background: $mainBgColor;
	color: $mainTextColor;
	font-size: $fontSize;
	// @include adaptiveValue("font-size", 18, 16);
	font-weight: 400;
	line-height: 180%;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
		// transition: opacity 0.8s ease 0s;
		// opacity: 1;
	}
}
// </BODY>=================================

// <WRAPPER>=================================
.wrapper {
	// width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// </WRAPPER>=================================

// <CONTAINER>=================================
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
	max-width: rem(1450);
	margin: 0 auto;
	padding: rem(0) rem(15);
}
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container-lage"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				// @include adaptiveValue("padding-left", math.div($containerPadding, 2), $containerPaddingMin);
				// @include adaptiveValue("padding-right", math.div($containerPadding, 2), $containerPaddingMin);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobileBig) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// </CONTAINER>=================================

// <IMPORT>=================================
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "common"; // Подключение стилей общих элементов проекта
// Подключение стилей отдельных блоков
@import "header";
@import "footer";
// Подключение стилей отдельных страниц
// @import "home";
// </IMPORT>=================================

//<ОБЩИЙ СТИЛЬ>=================================
.page {
	// .page__main
	&__main {
		@include adaptiveValue("margin-top", 182, 50);
		@include adaptiveValue("padding-top", 70, 25);
		@include adaptiveValue("margin-bottom", 200, 60);
	}
	// .page__how
	&__how {
		@include adaptiveValue("margin-bottom", 200, 80);
	}
	// .page__pathway
	&__pathway {
		@include adaptiveValue("margin-bottom", 200, 80);
	}
	// .page__achievements
	&__achievements {
		@include adaptiveValue("margin-bottom", 200, 80);
	}
	// .page__reviews
	&__reviews {
		@include adaptiveValue("margin-bottom", 200, 80);
	}
	// .page__app
	&__app {
		@include adaptiveValue("margin-bottom", 200, 80);
	}
}
//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================
.main {
	// .main__container-lage
	&__container-lage {
		position: relative;
	}
	// .main__container
	&__container {
	}
	// .main__top
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue("margin-bottom", 210, 70);
	}
	// .main__form
	&__form {
	}
	// .main__title
	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		& .title__title {
			max-width: rem(923);
		}
		.title__text {
			max-width: rem(725);
		}
	}
	// .main__bottom
	&__bottom {
	}
	// .main__brands
	&__brands {
	}
	// .main__decor
	&__decor {
	}
}
.brands {
	// .brands__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(190px, auto));
		// grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		@include adaptiveValue("column-gap", 108, 0);
		@include adaptiveValue("row-gap", 30, 10);
		justify-items: center;
		justify-content: center;
		// align-items: center;
		align-content: center;
	}
	// .brands__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.brands__link {
					color: #fff;
				}
			}
		}
	}
	// .brands__link
	&__link {
		transition: color 0.3s ease 0s;
		@include adaptiveValue("font-size", 28, 22);
		color: rgba(255, 255, 255, 0.5);
		line-height: 177%;
	}
}
.decor {
	// .decor__element
	&__element {
		position: absolute;
		// ._icon-dollar
		&_icon-dollar {
			&::before {
			}
		}
		// ._icon-star
		&_icon-star {
			&::before {
			}
		}
		// ._icon-ellipse-clear
		&_icon-ellipse-clear {
			&::before {
			}
		}
		// ._icon-bank
		&_icon-bank {
			&::before {
			}
		}
		// ._icon-bucks
		&_icon-bucks {
			&::before {
			}
		}
		// ._icon-ellipse
		&_icon-ellipse {
			&::before {
			}
		}
		// ._icon-star-clear
		&_icon-star-clear {
			&::before {
			}
		}
	}
}
// ===<animation>===
//</MAIN>=================================

//<HOW>=================================
.how {
	// .how__container
	&__container {
	}
	// .how__body
	&__body {
		@media (min-width: $tablet) {
			display: flex;
		}
		@include adaptiveValue("column-gap", 96, 25);
	}
	// .how__content
	&__content {
		flex: 1 1 rem(574);
		@media (max-width: $tablet) {
			@include adaptiveValue("margin-bottom", 100, 50);
		}
	}
	// .how__columns
	&__columns {
	}
	// .how__column
	&__column {
		max-width: rem(500);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 15);
		}
	}
	// .how__item
	&__item {
		display: flex;
		align-items: center;
		// column-gap: rem(32);
		@include adaptiveValue("column-gap", 32, 16);
	}
	// .how__media
	&__media {
		flex: 1 1 rem(750);
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
	// .how__title
	&__title {
	}
}
.how-item {
	// .how-item__icon
	&__icon {
		display: flex;
		position: relative;
		align-items: center;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("font-size", 56, 30);
			color: $greenColor;
		}
		&::after {
			content: "";
			background-color: rgba(0, 128, 0, 0.1);
			border-radius: 50%;
			@include adaptiveValue("width", 110, 60);
			@include adaptiveValue("height", 110, 60);
		}
	}
	// .how-item__boby
	&__boby {
	}
	// .how-item__title
	&__title {
		@include adaptiveValue("font-size", 20, 18);
		font-size: rem(20);
		font-weight: 700;
	}
	// .how-item__text
	&__text {
		@include adaptiveValue("font-size", 18, 14);
	}
}
.how-media {
	// .how-media__border
	&__border {
		position: relative;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: rem(20);
		overflow: hidden;
		@include adaptiveValue("padding-top", 100, 45);
		@include adaptiveValue("padding-bottom", 100, 45);
		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("padding-right", 40, 15);
		&::after,
		&::before {
			content: "";
			position: absolute;
			@include adaptiveValue("width", 585, 340);
			@include adaptiveValue("height", 585, 340);
			border-radius: 50%;
			border: rem(1) solid #fff;
		}
		&::after {
			top: -5%;
			right: -40%;
		}
		&::before {
			top: -13%;
			right: -37%;
		}
	}
	// .how-media__image
	&__image {
		position: relative;
		z-index: 2;
		text-align: center;
		@media (max-width: $tablet) {
			// @include adaptiveValue("margin-top", 90, 45);
			// @include adaptiveValue("margin-bottom", 90, 45);
		}
		// @include adaptiveValue("margin-left", 45, 15);
		// @include adaptiveValue("margin-right", 45, 15);
		img {
			max-width: 100%;
		}
	}
}
//===<animation>===
//</HOW>=================================

//<PATHWAY>=================================
.pathway {
	// .pathway__container
	&__container {
	}
	// .pathway__body
	&__body {
		@media (min-width: $tablet) {
			display: flex;
			flex-direction: row-reverse;
		}
		@include adaptiveValue("column-gap", 126, 25);
	}
	// .pathway__content
	&__content {
		flex: 1 1 rem(600);
		@media (max-width: $tablet) {
			@include adaptiveValue("margin-bottom", 100, 50);
		}
	}
	// .pathway__title
	&__title {
	}
	// .pathway__columns
	&__columns {
	}
	// .pathway__spoller
	&__spoller {
	}
	// .pathway__media
	&__media {
		flex: 1 1 rem(694);
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
}
.spollers {
	// .spollers__item
	&__item {
	}
	// .spollers__title
	&__title {
	}
	// .spollers__body
	&__body {
	}
}
.pathway-media {
	// .pathway-media__border
	&__border {
		position: relative;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: rem(20);
		@include adaptiveValue("padding-top", 100, 45);
		@include adaptiveValue("padding-bottom", 100, 45);
		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("padding-right", 40, 15);
		overflow: hidden;
		&::after,
		&::before {
			content: "";
			position: absolute;
			@include adaptiveValue("width", 585, 340);
			@include adaptiveValue("height", 585, 340);
			border-radius: 50%;
			border: rem(1) solid #fff;
		}
		&::after {
			bottom: -5%;
			left: -40%;
		}
		&::before {
			bottom: -13%;
			left: -37%;
		}
		@media (max-width: $mobileBig) {
			// margin: 0 rem(-15);
		}
	}
	// .pathway-media__image
	&__image {
		position: relative;
		z-index: 2;
		text-align: center;
		@media (max-width: $tablet) {
			// @include adaptiveValue("margin-top", 90, 45);
			// @include adaptiveValue("margin-bottom", 90, 45);
		}
		// @include adaptiveValue("margin-left", 40, 15);
		// @include adaptiveValue("margin-right", 40, 15);
		img {
			max-width: 100%;
		}
	}
}
//===<animation>===
//</PATHWAY>=================================

//<ACHIVEMENTS>=================================
.achievements {
	// .achievements__container
	&__container {
	}
	// .achievements__body
	&__body {
		@media (min-width: $tablet) {
			display: flex;
		}
		@include adaptiveValue("column-gap", 177, 25);
	}
	// .achievements__content
	&__content {
		flex: 1 1 rem(563);
		@media (max-width: $tablet) {
			@include adaptiveValue("margin-bottom", 100, 50);
		}
	}
	// .achievements__title
	&__title {
	}
	// .achievements__columns
	&__columns {
		@include adaptiveValue("margin-bottom", 48, 20);
	}
	// .achievements__column
	&__column {
		max-width: rem(500);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 15);
		}
	}
	// .achievements__item
	&__item {
	}
	// .achievements__buttons
	&__buttons {
	}
	// .achievements__button
	&__button {
		min-width: rem(222);
	}
	// .achievements__media
	&__media {
		flex: 1 1 rem(680);
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
}
.achievements-item {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 50, 20);
	// .achievements-item__icon
	&__icon {
		display: flex;
		position: relative;
		&::before {
			content: "1";
			position: absolute;
			top: 65%;
			left: 50%;
			transform: translate(-50%, -65%);
			@include adaptiveValue("font-size", 36, 18);
			color: #fff;
			line-height: math.div(40, 36);
			font-weight: 700;
		}
		&::after {
			content: "";
			background-color: rgba(255, 255, 255, 0.05);
			border-radius: 50%;
			@include adaptiveValue("width", 64, 32);
			@include adaptiveValue("height", 64, 32);
		}
	}
	// .achievements-item__boby
	&__boby {
	}
	// .achievements-item__title
	&__title {
		color: #fff;
		@include adaptiveValue("font-size", 20, 18);
		font-weight: 500;
	}
}
.achievements-media {
	// .achievements-media__image
	&__image {
		@media (max-width: $tablet) {
			padding-bottom: 75%;
		}
	}
}
//===<animation>===
//</ACHIVEMENTS>=================================

//<REVIEWS>=================================
.reviews {
	// .reviews__container
	&__container {
	}
	// .reviews__top
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue("margin-bottom", 48, 20);
	}
	// .reviews__title
	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		& .title__title {
			max-width: rem(1090);
		}
		.title__text {
			max-width: rem(570);
		}
	}
	// .reviews__bottom
	&__bottom {
	}
}
.reviews-bottom {
	// .reviews-bottom__body
	&__body {
		@media (max-width: $mobileSmall) {
			margin: rem(0) rem(-15);
		}
	}
	// .reviews-bottom__columns
	&__columns {
		@media (min-width: $tablet) {
			display: flex;
			@include adaptiveValue("column-gap", 48, 20);
		}
	}
	// .reviews-bottom__column
	&__column {
		@include adaptiveValue("margin-bottom", 48, 15);
		&:not(:last-child) {
		}
	}
	// .reviews-bottom__item
	&__item {
		display: flex;
	}
	// .reviews-bottom__buttons
	&__buttons {
		display: flex;
		justify-content: center;
	}
	// .reviews-bottom__button
	&__button {
		min-width: rem(222);
	}
}
.item-reviews {
	@media (max-width: $mobileSmall) {
		.item-reviews__image {
			border-radius: rem(20) 0 0 rem(20);
			overflow: hidden;
		}
	}
	// .item-reviews__image
	&__image {
		flex: 0 0 44%;
		padding-bottom: 55%;
	}
	// .item-reviews__body
	flex: 0 0 66%;
	&__body {
		@include adaptiveValue("padding-top", 32, 10);
		@include adaptiveValue("padding-bottom", 32, 10);
		@include adaptiveValue("padding-left", 32, 20);
		@include adaptiveValue("padding-right", 32, 10);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 0 rem(20) rem(20) 0;
		background: rgba(255, 255, 255, 0.05);
	}
	// .item-reviews__text
	&__text {
	}
	// .item-reviews__name
	&__name {
	}
}
//===<animation>===
//</REVIEWS>=================================

//<APP>=================================
.app {
	// .app__container
	&__container {
	}
	// .app__wrapper
	&__wrapper {
		// @media (max-width: $mobileSmall) {
		// 	margin: rem(0) rem(-15);
		// }
	}
	// .app__body
	&__body {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: rem(20);
		background: rgba(255, 255, 255, 0.07);
		@include adaptiveValue("padding-top", 72, 35);
		@include adaptiveValue("padding-bottom", 66, 30);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
		overflow: hidden;
		@media (min-width: $mobileBig) {
		}
		@media (max-width: $mobileSmall) {
			margin: rem(0) rem(-15);
		}
	}
	// .app__title
	&__title {
		position: relative;
		z-index: 2;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		& .title__title {
			max-width: rem(770);
			margin-bottom: 0;
		}
		&::before,
		&::after {
			content: "";
			z-index: 1;
			position: absolute;
			@include adaptiveValue("width", 585, 270);
			@include adaptiveValue("height", 585, 270);
			border-radius: 50%;
			border: rem(1) solid rgba(255, 255, 255, 0.37);
		}
		&::before {
			top: -100%;
			left: 50%;
			transform: translateX(-50%);
		}
		&::after {
			top: -60%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	// .app__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 26, 16);
	}
	// .app__button
	&__button {
		position: relative;
		z-index: 2;
		flex: 0 1 rem(168);
		img {
			max-width: 100%;
		}
	}
}
//===<animation>===
//</APP>=================================
